* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

nav{
    height: 10vh;
    background: #5b78c7;
}

.nav-links{
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%; 
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.nav-links li a{
    color: white;
    text-decoration: none;
    font-size: 16px;    
}

.landing{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing h1{
    margin: 100px;
    color: #ae5fce;
    font-size: 50px;
}

.hamburger,
.line,
.line::before,
.line::after{
    display: none;
}

@media screen and (max-width: 768px){

    nav{
        position: relative;
    }

    .hamburger{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        border: 3px solid white;
    }

    .hamburger .line{
        width: 30px;
        height: 3px;
        background: white;
        border-radius: 5px;
        display: block;
        transition: all 1s ease-out;
    }

    .hamburger .line::before,
    .hamburger .line::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 3px;
        background: white;
        border-radius: 5px;
        display: block;
        transition: all 1s ease-out;
    }

    .hamburger .line::before{
        top: 12px;
        
    }

    .hamburger .line::after{
        bottom: 12px;
        transition: all 1s ease-out;
    }

    .hamburger .line.active::before{
        animation: burgerComplicated2 0.5s ease-out;
        animation-fill-mode: forwards;
    }

    .hamburger .line.active{
        transition: all 1s ease-out;
        background: transparent;
    }

    .hamburger .line.active::after{
        animation: burgerComplicated1 0.5s ease-out;
        animation-fill-mode: forwards;
    }

    .nav-links{
        position: fixed;
        background: #5b78c7;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        /*display: none;*/
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }

    @keyframes burgerComplicated1 {
        0%{
            transform: rotate(0deg);
        }
    
        100%{
            transform: rotate(45deg) translate(-5px, -7px);
        }
    }

    @keyframes burgerComplicated2 {
        0%{
            transform: rotate(0deg);
        }
    
        100%{
            transform: rotate(-45deg) translate(-5px, 7px);
        }
    }

    .nav-links.open{
        clip-path: circle(1200px at 90% -10%);
        -webkit-clip-path: circle(1200px at 90% -10%);
        pointer-events: all;
    }

    .landing{
        flex-direction: column;
    }

    .nav-links li{
        opacity: 0;
    }

    .nav-links li a {
        font-size: 25px;
    }

    .nav-links li:nth-child(1){
        transition: all 0.5s ease-in 0.2s;
    }

    .nav-links li:nth-child(2){
        transition: all 0.5s ease-in 0.5s;
    }

    .nav-links li:nth-child(3){
        transition: all 0.5s ease-in 0.7s;
    }

    li.fade{
        opacity: 1;
    }


}